.gitattributes
.gitignore
.yarnrc
.github_changelog_generator
.github/**
.store/**
.vscode/**
.vscode-test/**
assets/marketplace/**
config/**
scripts/**
docs/**
src/**
azure-pipelines.yml
CHANGELOG.md
eslint.config.mjs
gulpfile.js
installation.md
nf-VSCodeExtension.sln
pipeline-adjustment.md
sign.exe
version.json
webpack.config.js
work-debug-todo.md
nanoFirmwareFlasher/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.pdb
**/*.ts

!node_modules/axios
!node_modules/globby
!node_modules/path
!node_modules/serialport
!node_modules/@serialport
!node_modules/extract-zip
!node_modules/semver
!node_modules/typed-rest-client

# Include debug bridge binaries
!bin/nanoDebugBridge/**
