.vscode/**
.vscode-test/**
assets/marketplace/**
config/**
docs/**
src/**
.gitignore
.yarnrc
azure-pipelines.yml
CHANGELOG.md
gulpfile.js
installation.md
version.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
